<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="#about">About</a></li>
		        	<li><a href="#publication">Publication</a></li>
				<li><a href="#education">Education</a></li>
	        		<li><a href="#prototypes">Protoypes</a></li>
				<li><a href="#corpora">Corpora</a></li>
	        		<li><a href="#honors">Honors</a></li>
				<li><a href="#talks">Talks</a></li>

	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>© 2023 Thiemo Wambsganss</li>
				</ul>
			</footer>
		</body>
	</html>
